@use "@material/theme" with (
  $primary: #000000,
  $secondary: #e5acf0,
  $background: #ababab,
);
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/card";
@use "@material/image-list";
@use "@material/image-list/mdc-image-list";
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/snackbar/mdc-snackbar";

@include textfield.core-styles;

.my-image-list {
  @include image-list.standard-columns(5);
}
@include card.core-styles;
@include icon-button.core-styles;

.mdc-tab-bar {
  background-color: #e5acf0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

.mdc-top-app-bar__title{
  font-family: 'Josefin Sans', sans-serif;
}

.mdc-tab__text-label{
  font-family: 'Josefin Sans', sans-serif;
}

.my-card-content {
  padding: 16px;
}

.mdc-card{
  margin: auto;
  width: 50%;
  padding: 10px;

  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.element-card {
  width: 20em;
  margin: 16px;
}

.element-card > .mdc-card__media {
  height: 1em;
}

body {
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ocultar{
  display:none;
}

#NFT{
  display: flex;
  align-items: center;
}